//https://www.color-blindness.com/color-name-hue/
//https://colorscheme.ru/color-converter.html
$_lochinvar:				#4E9F96;
$_fern:						  #70B379;
$_portica:		 			#F2C94C;
$_ronchi:						#EAA452;

$_night-rider:			#333333;
$_grey: 						#828282;
$_gainsboro:				#E0E0E0;
$_white-smoke:			#F2F2F2;

$_white:			      #FFFFFF;
$_black:			      #000000;

$_burnt-sienna:     #EB5757;


//=============================================
$color-1: 	$_lochinvar;
$color-2: 	$_fern;
$color-3: 	$_portica;
$color-4:		$_ronchi;

$color-5: 	$_night-rider;
$color-6: 	$_grey;
$color-7: 	$_gainsboro;
$color-8: 	$_white-smoke;

$color-9: 	$_white;
$color-10: 	$_black;

$color-11: 	$_burnt-sienna;
//===========================================
