//canvas-project
@import "bootstrap";
@import "style";
@import "dark";
@import "font-icons";
@import "animate";
@import "magnific-popup";
@import "responsive";

//my styles
@import "mk-reset";
@import "mk-animate";

//libs
@import "../libs/slick/slick.scss";
@import "../libs/slick/slick-theme.scss";

@import "../libs/fullpage/fullpage.min";

//separate files
@import "mk-fonts";
@import "mk-variables";
@import "mk-mixins";
@import "mk-template-selectors";
@import "mk-validate";
@import "mk-scroll";
@import "mk-animate-custom";


//Start
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {

}

#mk-page {

}

.mk-container {
  max-width: 1165px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 15px;
}

//Style fullpagejs
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border: 1px solid $color-9;
  background-color: transparent;
  width: 8px;
  height: 8px;
}

#fp-nav ul li a {
  margin-top: 20px;
}



#fp-nav.fp-left {
  left: 125px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a.active span {
  background-color: $color-9;
  margin: -2px 0 0 -2px;
  width: 8px;
  height: 8px;
}

#fp-nav ul li:hover a span {
  background-color: transparent;
}

.mk-section {
  background: url("../img/bg_mk-footer.jpg") no-repeat center center / cover;
  // @include font-primary(50px, $color-1, 700);
  // background: url("../img/bg_mk-footer1.png") no-repeat center center / cover;
  // position: relative;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background: black;
  //   opacity: 0.5;
  //   z-index: 1;

  // }
  // height: 100vh;
  // display: flex;
  // justify-content: space-between;
  // flex-direction: column;

  // background: url("../img/bg_mk-footer.jpg") no-repeat center center / cover;
  // background: url("../img/bg_mk-logo_primary.svg") no-repeat center center / cover;
}

.mk-section-7 {
  // display: flex;
  // justify-content: space-between;
  // flex-direction: column;
  // height: 100vh;

  .mk-head {
    margin-top: 20px;

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .mk-logo {

    &__link {
      display: block;
      width: 62px;
      height: 51px;
      background: url("../img/bg_mk-logo_primary.svg") no-repeat center center / cover;
    }
  }

  .mk-burger {
    cursor: pointer;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__inner {
      position: relative;
      width: 40px;
      height: 2px;
      border-radius: 4px;
      background-color: $color-9;
    }

    &::before {
      content: '';
      margin-bottom: 5px;
      display: block;
      width: 40px;
      height: 2px;
      border-radius: 4px;
      background-color: $color-9;
    }

    &::after {
      content: '';
      margin-top: 5px;
      display: block;
      width: 25px;
      height: 2px;
      border-radius: 4px;
      background-color: $color-9;
      align-self: flex-end;
    }
  }

  .mk-intro {
    margin-top: 40px;

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .mk-header {
    text-align: center;

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include font-primary(48px, $color-9, 700);

      &::after {
        content: '';
        display: block;
        margin-top: 20px;
        width: 50px;
        height: 3px;
        background-color: $color-4;
        border-radius: 9px;
      }
    }

    &__subtitle {
      margin-top: 20px;
      max-width: 430px;
      @include font-secondary(16px, $color-9, 400, 26px);
    }
  }

  .mk-form {
    margin-top: 60px;
    width: 100%;
    max-width: 560px;

    &__group {
      margin-top: 40px;

      &:first-child {
        margin-top: 0;
      }

      &_active {
        .mk-form__label {
          transform: translateY(-35px);
        }
      }

      &_error {
        .mk-form__input,
        .mk-form__textarea {
          border: 1px solid $color-11;
        }

        .mk-form__label {
          @extend .mk-form__group_active;
          @include font-secondary(14px, $color-11, 400);
        }
      }
    }

    &__control {
      width: 100%;
      position: relative;
    }

    &__input {
      @extend %form-element;
    }

    &__label {
      @include font-secondary(14px, $color-8, 400);
      position: absolute;
      top: 14px;
      left: 29px;
      transition: all .2s ease-in-out;

      text-transform: none;
      letter-spacing: normal;
      cursor: auto;
    }

    &__textarea {
      @extend %form-element;
      resize: none;
      height: 161px;
    }

    &__button {
      @extend %reset_button;
      @include font-secondary(14px, $color-9, 700);
      letter-spacing: 0.07em;
      text-transform: uppercase;
      background-color: $color-4;
      width: 100%;
      padding: 14px 0;
      box-shadow: 0px 8px 17px rgba($color-10, 0.11);
      border-radius: 65px;

      &:hover {
        box-shadow: 0px 21px 20px rgba($color-10, 0.12);
      }
    }
  }

  .mk-footer {
    margin-top: 90px;
    border-top: 5px solid $color-4;
    background-color: $color-5;
    padding: 30px 0;

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .mk-socials {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      transition: all .2s ease-in-out;

      $listSocilals: facebook twitter instagram;
      @each $currentSocilal in $listSocilals {
        $i: index($listSocilals, $currentSocilal);

        &_#{$currentSocilal} {
          background: url("../img/icon_mk-#{$currentSocilal}.svg") no-repeat center center / 26px 26px $color-5;

          &:hover {
            background: url("../img/icon_mk-#{$currentSocilal}-active.svg") no-repeat  center / 26px 26px $color-9;
          }
        }
      }
    }
  }

  .mk-copyrights {
    width: 100%;
    max-width: 365px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {

    }

    .mk-policy {

      &__text {
        @include font-secondary(14px, $color-6, 400);
      }
    }

    .mk-private {
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;

      &__text {
        @include font-secondary(14px, $color-8, 400);

        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }

  .mk-shopping {

    &__button {
      @extend %reset_button;
      background: url("../img/icon_mk-shopping-basket.svg") no-repeat 13px 17px / 39px 36px $color-1;
      width: 70px;
      height: 70px;
      border: 2px solid $color-9;
      border-radius: 50%;
      box-shadow: 0px 8px 17px rgba($color-10, 0.11);
    }
  }
}