div.mk-section-7
	div.mk-head
		div.mk-container
			div.mk-head__content
				div.mk-logo
					a.mk-logo__link(href="#")
				div.mk-burger
					div.mk-burger__inner
	div.mk-intro
		div.mk-container
			div.mk-intro__content
				div.mk-header
					h2.mk-header__title Get in touch
					h5.mk-header__subtitle
						| Both parents and school leaders can fill out this form to request a call for more
						| info on bringing ABii to their school or home.
				form.mk-form.js-mkForm(action="#")
					div.mk-form__group.mk-form__group_active.mk-form__group_error
						div.mk-form__control
							input.mk-form__input.js-mkFormInput(id="name" type="text" required)
							label.mk-form__label(for="name") Name
					div.mk-form__group
						div.mk-form__control
							input.mk-form__input.js-mkFormInput(id="email" type="email" required)
							label.mk-form__label(for="email") Email
					div.mk-form__group
						div.mk-form__control
							textarea.mk-form__textarea.js-mkFormTextarea(id="message" required)
							label.mk-form__label(for="message") Write your message here
					div.mk-form__group
						button(type="submit").mk-form__button Submit
	div.mk-footer
		div.mk-container
			div.mk-footer__content
				div.mk-socials
					a.mk-socials__link.mk-socials__link_facebook(href="https://www.facebook.com")
					a.mk-socials__link.mk-socials__link_twitter(href="https://twitter.com")
					a.mk-socials__link.mk-socials__link_instagram(href="https://www.instagram.com")
				div.mk-copyrights
					div.mk-policy
						p.mk-policy__text Vän Robotics Inc © 2019 - All Rights Reserved
						div.mk-private
							span.mk-private__text Private Policy &amp; COPPA
							span.mk-private__text Terms of Service
					div.mk-shopping
						button.mk-shopping__button(type="button")